/* reset */
h1,
h2 {
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* ir */
.ir {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* layout */
.wrapper {
  width: 400px;
  margin: 0 auto;
}

/* design */
html {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
      96.74% 276.79% at 3.59% 5.28%,
      #f0f4ff 0%,
      #a5b6ee 100%
    )
    no-repeat;
}

.header {
  margin: 84px 0 60px;
  text-align: center;
}

.header img {
  width: 200px;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 360px;
  background: linear-gradient(144.07deg, #5572bb 2.13%, #374b7c 102.97%);
  box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
  border-radius: 16px;
}

.timer h2 {
  color: #fff;
  margin: 48px 0 23px;
  font-size: 24px;
  font-weight: 700;
}

.time-buttons {
  margin-top: 50px;
}

.time-buttons .hours,
.time-buttons .minutes,
.time-buttons .seconds {
  width: 80px;
  height: 80px;
  background-image: url(./img/box.png);
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

.time-buttons span {
  color: #8198d0;
  font-size: 40px;
  line-height: 1;
}

.select-buttons .start,
.select-buttons .reset {
  width: 112px;
  height: 48px;
  margin-top: 40px;
}

.select-buttons .start {
  background-image: url(./img/start-disabled.png);
  margin-right: 12px;
}
.select-buttons .reset {
  background-image: url(./img/reset-disabled.png);
}
